
h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
   padding: 2rem 5rem 2rem 5rem;
}

.itemContainer{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.cursos {
    width: 100%;
    height: auto;
    background-position: 67%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cursosSlide {
    background-image: url(../../images/musicProduction.jpeg);
  }