.product-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 60px 150px;
    padding: 80px 80px;
  }
  
  .loading{
      color: white;
  }