
.contact {
    width: 100%;
    height: 100vh;
    background-position: 67%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contactSlide {
    background-image: url(../../images/musicProduction.jpeg);
  }

.form{
    max-width: 800px;
    padding: 5rem;
    transform: translateX(25%);
}

