@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');


/*GENERAL Styles*/

h1{
    font-family: 'Rajdhani', sans-serif;
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.linkDrop{
    text-decoration: none;
    color: black;
}

.linkDrop:hover{
    text-decoration: none;
    color: rgb(32, 32, 32);
}