@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

.App{
    height: 100vh;
}

.wrapper{
    background-image: url(../src/images/musicProduction.jpeg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #464646;
}

/*TEXT GENERAL*/

h1{
    font-family: 'Rajdhani', sans-serif;
}
